@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F8F8F8;
    font-family: 'TT Lakes Regular';
}

/* .main-menu-mob {
    background: red;
} */

.main-menu-mob {
    display: flex;
    align-items: center;
    
}


.main-menu-mob button {
    background-color: rgba(1,1,1,0);
    border: 0;
}

.menu {
    border-left: 4px solid #41F6D7;
    line-height: 40px;
}

.menu__page-title {
    padding-left: 24px;
    font-size: 28px;
    letter-spacing: -0.6px;
}

.navbar {
    display: flex;
    overflow: scroll;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}


.navbar__button {
    height: 40px;
    background-color: rgba(1,1,1,0);
    border: 0;
}

.navbar__button:hover:not(.navbar__button-text) {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
}

span {
    font-family: 'TT Lakes Regular';
    font-size: 16px;
}

.page-content__more {
    height: 40px; /*убрать*/
    background-color: rgba(1,1,1,0);
    border: 0;
    font-weight: bold;
    padding-left: 0.5em; /*Написать в пикселях*/
}

.page-content__text {
    font-size: 14px;
    letter-spacing: 0.2px;
}

.page-content__img img {
    border-radius: 6px;
}

@media (min-width: 320px) {
    /*  Бордер для мобильной версии*/
body {
    width: 100%;
}
main {
    width: 100%;
    height: auto;
}

.main-menu-mob {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-menu__logo{
    padding-left: 10px;
    padding-right: 25px;
}

.main-menu-mob__nav-logo {
        border-right: 2px solid #EAEAEA;
        line-height: 32px;
}
.main-menu-mob__contacts {
    display: none;
}
.page-content__img img{
    width: 100%;
}

.page-content__about-us_part-1{
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    width: 288px;
}

.page-content__about-us_part-2{
    display: none;
}

.navbar__button:hover:not(.navbar__button-text) {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: scroll;
    padding-left: 16px;
}
}

/* А надо ли?
.page-content__more:hover:not(.page-content__button__text) {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}*/